/* <!-- @author:AKHILESH RAMKELOWAN SE 3.2 Advance web development Since 8/12/2022 --> */

:root {
  --primary-color: rgb(0, 183, 199);
  --secondary-color: rgb(35, 31, 32);
  --tertiary-color: rgb(0, 171, 189);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: "Optima", "century Gothic";
  color: var(--secondary-color);
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
/* Navbar */
.navbar {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  height: 70px;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: var(--secondary-color);
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px rgb(167, 169, 172) solid;
}
.navbar.flex {
  justify-content: space-between;
}
/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}
.showcase h1 {
  font-size: 40px;
}
.showcase p {
  margin: 20px 0;
}
.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}
.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}
.showcase-form.form-control {
  margin: 30px 0;
}
.showcase-form input[type="text"],
.showcase-form input [type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.showcase-form input:focus {
  outline: none;
}
.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-10deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
/* Stats */
.stats {
  padding-top: 100px;
}
.stats-heading {
  max-width: 500px;
  margin: auto;
}
.stats.grid.h3 {
  font-size: 35px;
}
.stats.grid.p {
  font-size: 20px;
  font-weight: bold;
}
.grid-3 {
  align-items: center;
  background-color: transparent;
}
.grid-3 a:hover {
  background-color: transparent;
}
.text-secondary {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    rgb(0, 183, 199),
    #ff1361 67%,
    #22ff00 100%,
    rgb(0, 171, 189) 25%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Cli */
.cli.grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cli.grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
/* Cloud */
.host.grid {
grid-template-columns: 4fr, 3fr;
}
/* Sponsors */
.sponsors .flex {
  flex-wrap: wrap;

}

.sponsors .card {
  
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  overflow: hidden;
 
}

.sponsors.card h4 {
  font-size: 20px;
  margin-bottom: 10px;
 ;
}

.sponsors .card:hover {
  transform: translateY(-15px);
}

/* KeyNotes & Speakers */

  
.slider{
  width:55%;
  height:fit-content; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
  

}
.swiper{
  width: 50%;
  height: 10%; ;
  background:#fff;
}

.swiper-slide img{
  width: 100%;
  object-fit:cover;
 

}
.swiper.swiper-button-prev,.swiper.swiper-button-next{
  color: var(--secondary-color);


}
.swiper-slide h4{
  background-color: #fff;
justify-content: center;
}
      

/* Footer*/
.footer.social a {
  margin: 0 10px;
}
