/* <!-- @author:AKHILESH RAMKELOWAN SE 3.2 Advance web development Since 8/12/2022 --> */

/* Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}
.card {
  color: #333;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}
.btn:hover {
  transform: scale(0.98);
}
/* Backgrounnds & colored button */
.bg-primary video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.gallery video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bg-primary i {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "script";
  font-weight: 500;
  font-size: 40px;
}
.bg-primary a img {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}
.bg-primary,
.btn-primary {
  position: relative;
  background-color: var(--primary-color);
  color: #fff;
}
.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}
.bg-dark,
.btn-dark {
  position: relative;
  background-color: var(--dark-color);
  color: #fff;
  padding-left: 50%;
  font-size: 20px;
  border: #333;
  font-weight: 600;
}
.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
  padding-left: 50%;
}
.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}
.btn-learn {
  position: relative;
  color: #fff;
  background-color: transparent;
  padding-left: 50%;
  font-size: 20px;
  border: #333;
  font-weight: 600;
  text-decoration: none;
}
.btn-venue {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: var(--dark-color);
  left: 70%;
  bottom: 40%;
}
/* Text-Sizes */
.lead {
  font-size: 18px;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-30%, -20%);
  left: 70%;
  bottom: 50%;
}
.sm {
  font-size: 15px;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-30%, -20%);
  left: 70%;
  bottom: 50%;
}
.md {
  font-size: 2rem;
}
.md2{
  font-size: 18px;
  font-weight: lighter;
}
.lg {
  font-size: 110px;
  color: #fff;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 50%;
  transition: 0.5s;
}
.lg:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.xl {
  font-size: 120px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 50%;
  padding-bottom: 10%;
  padding-top: 0%;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 700;
}
.text {
  color: crimson;
  font-size: 18px;
}
.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.grid-3 {
  grid-template-columns: repeat(4, 1fr);
}
/* margin */
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

/* padding */

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}
.p-1 {
  margin: 1rem;
}
.p-2 {
  margin: 1.5rem;
}
.p-3 {
  margin: 2rem;
}
.p-4 {
  margin: 3rem;
}
.p-5 {
  margin: 4rem;
}
